# Prerequisites
*.d

# Object files
*.o
*.a
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Project stuff
cwf.cgi
build.sh
deploy.sh
bin/server
*.session
.idea/
provas/
provas_django/
todo_list/cert.pem
todo_list/cert2.key
todo_list/key.pem
CWF_logos/
todo_list/sessions/sessions.sqlite
