<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Admin Login</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="static/assets/css/theme-1.css">

</head> 

<body>
    <div class>
	    <section class="cta-section theme-bg-light py-5">
			    <h2 class="heading">CFW Admin Login</h2>
			    <form class="login-form justify-content-center pt-3" method="post" action="/login" >
                    <div class="form-group col-lg-2">
                        <label class="sr-only" for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control mr-md-1 username" placeholder="Username">
                    </div>
					<div class="form-group col-lg-2">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control mr-md-1 password" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-primary ">Login</button>
                </form>
	    </section>
	    
	    <footer class="footer text-center py-2 theme-bg-dark">
        	<small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
	    </footer>
    
    </div>
       
    <!-- Javascript -->          
    <script src="static/assets/plugins/jquery-3.3.1.min.js"></script>
    <script src="static/assets/plugins/popper.min.js"></script> 
    <script src="static/assets/plugins/bootstrap/js/bootstrap.min.js"></script> 

    <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
    <!-- <script src="static/assets/js/demo/style-switcher.js"></script> -->
    

</body>
</html> 

