<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>TodoApp - Create A Todo With CWF</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
   <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>
<body>
<div django-app="TaskManager">
    <div class="container">
            <div class="content">
 			<h1><img src="/static/logo_64.png" height="32"/> TodoApp</h1>
            <p class="tagline">a CWF todo app</p>
            <form action="" method="post">
                <div class="inputContainer">
                    <input type="text" id="username" class="taskName" placeholder="" name="username" required/>
                    <label for="description">Username</label>
                </div>
              <div class="inputContainer">
                    <input type="password" id="password" class="taskName" placeholder=" " name="password" required/>
                    <label for="description">Password</label>
                </div>
                <div class="row">
                    <button class="login" name="login" type="submit">Login</button>
                </div>
              <div class="row">
                  <TMPL_IF name="login_error">
                    Wrong username or password!
                  </TMPL_IF>
                </div>
            </form>
            </div>
 </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script language="JavaScript">
    $('#select-all').click(function(event) {

        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = !this.checked;
        });

});
</script>
</body>
</html>
